@model Films.Models.Film

@{
    ViewData["Title"] = "Удаление";
}

<h2>Delete</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Фильм</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PosterFileNameOnDisk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosterFileNameOnDisk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PosterFileNameOriginally)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosterFileNameOriginally)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-page="@ViewBag.Page">Назад к списку</a>
    </form>
</div>
