@model Films.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Фильм</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Постер
        </dt>
        <dd>
           <img width="100" src="@Url.Content(Model.PosterFileNameOnDisk)" alt="@Model.PosterFileNameOriginally">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PosterFileNameOnDisk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosterFileNameOnDisk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PosterFileNameOriginally)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosterFileNameOriginally)
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index" asp-route-page="@ViewBag.Page">Назад к списку</a>
</div>
