@model IndexViewModel
@addTagHelper *, Films
@{
    ViewData["Title"] = "Список фильмов";
}

<h2>Список фильмов</h2>

<p>
    <a asp-action="Create" asp-route-page="@ViewBag.Page">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Постер
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.FirstOrDefault().Producer)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Films)
        {
        <tr>
            <td>
                <img width="100" src="@Url.Content(item.PosterFileNameOnDisk)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-page="@ViewBag.Page">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-page="@ViewBag.Page">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-page="@ViewBag.Page">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<pagination page-model="Model.PageViewModel" page-action="Index"></pagination>
